<div class="panel panel-default auth-panel">
    <div class="panel-body">
        <h2 class="text-center">Sign in</h2>
        <form name="signinForm" role="form" autocomplete="off" novalidate>
            <!-- Email Input -->
            <div class="form-group">
                <label for="email" class="control-label">Email:</label>
                <input type="text" class="form-control" id="email" placeholder="Email">
            </div>

            <!-- Password Input -->
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

        </form>
    </div>
</div>